h1{
    color: white;
    text-align: center;
}
body{
    background-color:darkslategray
    
}
.passwordGenerator{
    margin: auto;
    padding: 20px;
    border: 2px solid black;
    border-radius: 25px;
    height: 250px;
    width: 200px;
    text-align: center;
    background-color: darkgray;
}
button{
    border: 10px solid darkslategray;
    border-radius: 0 25px 0 25px; 
    margin-bottom: 25px;
    background-color: khaki;

}
